<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ar.anyhouse">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/vector_drawable_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AnyHouse">
        <meta-data
            android:name="releaseTime"
            android:value="${RELEASE_TIME}">
        </meta-data>
        <activity android:name=".view.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".view.ChannelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity"
            android:screenOrientation="portrait"/>
    </application>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>